NEXT_PUBLIC_SUPABASE_URL=https://zilnpzbfpsfclpnmqdxn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppbG5wemJmcHNmY2xwbm1xZHhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NzEyNzgsImV4cCI6MjA5MzE0NzI3OH0.2nWM9K-SfGMxos82jJVWbizVMJcQ4x5DASVJMU6cM8k